name: Run semantic-release

on:
  push:
    branches:
      - main

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run go-semantic-release
        id: semrel
        uses: go-semantic-release/action@v1.11.2
        with:
          github-token: ${{ secrets.GH_PAT_TOKEN }}
          allow-initial-development-versions: true
